<div class="row">
    <div class="col-sm-12">
        <div class="event-part">
            <div class="row">
                <div class="event-time col-sm-2">
                    {% assign startOfTalkMinute = Model.ContentItem.TalkPart.StartOfTalk.DateTime | Date: "%m" %}
                    {% if startOfTalkMinute.size == 1 %}
                    {{ Model.ContentItem.TalkPart.StartOfTalk.DateTime | Date: "%H:%0m" }}
                    {% else %}
                    {{ Model.ContentItem.TalkPart.StartOfTalk.DateTime | Date: "%H:%m" }}
                    {% endif %}
                    -
                    {% assign endOfTalkMinute = Model.ContentItem.TalkPart.EndOfTalk.DateTime | Date: "%m" %}
                    {% if endOfTalkMinute.size == 1 %}
                    {{ Model.ContentItem.TalkPart.EndOfTalk.DateTime | Date: "%H:%0m" }}
                    {% else %}
                    {{ Model.ContentItem.TalkPart.EndOfTalk.DateTime | Date: "%H:%m" }}
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <strong>
                            {% if Model.ContentItem.TalkPart.Abstract.FirstMediaUrl != null %}
                            <a href="{{ Model.ContentItem.TalkPart.Abstract.FirstMediaUrl }}">{{ Model.ContentItem.TitlePart.Title }}</a>
                            {% else %}
                            {{ Model.ContentItem.TitlePart.Title }}
                            {% endif %}
                    </strong>
                    {% if Model.ContentItem.TalkPart.Recording.Value != null %}
                    <a href="{{ Model.ContentItem.TalkPart.Recording.Value }}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if Model.ContentItem.TalkPart.Slides.FirstMediaUrl != null %}
                    <a href="{{ Model.ContentItem.TalkPart.Slides.FirstMediaUrl }}" target="_blank" ><i class="fa fa-file-o" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
                <div class="event-meta col-sm-12 col-sm-offset-2" >
                    <div class="event-meta-left">
                        {{ Model.Content.Items[0] | Display }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>